@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Laboraturl 5: Lucrul cu vederi</h1>    
</div>
<hr />
<div>
    <h2><a asp-controller="Matrix" asp-action="Index">Sarcina 1</a></h2>
    <p>
        Elaborați o aplicație web ASP.NET MVC, care va prelua dintr-un formular a unei vederi dimensiunile unei matrice bidimensionale, va genera în mod aleator elementele acestei matrici și va afișa în altă vedere această matrice, în care vor fi stilizate celulele ce conțin elementele maximale și minimale din matricea dată.
    </p>
</div>
